*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5; 
}
body::before{
    content: '';
    width: 100%;
    height: 436px;
    background-color: #535971;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}
header{
    display: flex;
    flex-direction: column;

}
#titulo{
    font-family: 'Staatliches', cursive;
    
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
}
#diz{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

#cab{

    width: 750px;
    margin:140px auto 58px;
}

                                                /*formulário*/
legend
{
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #535971;
    border-bottom: 1px solid #E6E6F0;;
    padding-bottom: 16px;
    margin-bottom: 36px;
}
label{
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
    margin-bottom: 8px;
}
input{
    margin-bottom: 16px;
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    padding-left: 8px;
}
.legends{
    padding-bottom:8px;
    border-bottom:1px solid #E6E6F0;
    margin-bottom: 32px;
}
#legends1{
    width: 622px;
    height: 382px;
    /* border: 1px rgb(17, 0, 128) solid; */
    margin-bottom: 30px;
}
#name{
    width: 300px;
    height: 56px;
   
}
#sobre{
    width: 300px;
    height: 56px;
}
#mailto{
    width: 622px;
    height: 56px;
}
#senha{
    width: 622px;
    height: 56px;
}
#legends2{
    width: 622px;
    height: 162px;
    /* border: 1px rgb(128, 64, 0) solid; */
    margin-bottom: 32px;
}
#mentor{
    width: 622px;
    height: 56px;
}
#legends3{
    width: 622px;
    height: 350px;    
}
#data{
    width: 300px;
    height: 56px;
    margin-right: 32px;
}
#horai{
    width: 140px;
    height: 56px;
    margin-right: 10px;
} 
#horaf{
    width: 140px;
    height: 56px;
}
#wrapp{
    display:flex;
    flex-direction: column;
}
.wrapp0{                                    /*label e inputh*/
    justify-content: space-between;
    display: flex;
}
h2{
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #535971;
    margin-bottom: 8px;
}
form{                                          /*FORMULARIO*/                       
    background-color: white;
    width: 750px;
    height: 1084px;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
    padding: 64px;  
}
fieldset{
    border:none ;
    width: 622px;
    background-color: white;
}
span{
    margin-left: 9.14px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC;
    font-family: 'Poppins', sans-serif;
}
footer{
    width: 750px;
    height: 160px;
    background: #535971;
    border-radius: 0px 0px 20px 20px;
    margin: auto;
    position: relative;  
}
button{
    top: 52.67px;
    left: 71px;
    position: absolute;
    width: 608px;
    height: 55.65px;
    background: #FF5374;
    border-radius: 20px;
    border: none;
}
a{
    text-decoration: none;
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}